@charset'utf-8';
                  body,form,input
{
margin:0;padding:0;	
}



	#TexT
	{
	                   width:250px;height:25px;margin:2.5px;	
	padding:0 0 0 12.5px;
	border-width:2.5px;border-style:solid;border-color:blue;
            
	color:rgb(200,200,255);
	                                      font-size:22.5px;	
	}