.whololotip{
          width:75px;
	 height:100%;
                background-color:;
          position:absolute;
	      top:12.5px;
	        left:7.5px;
          z-index:5000;	
}
	.whololopetiole{
	          width:75px;
		 height:100%;
	                background-color:;
			
	          position:absolute;
		      top:0;
		        left:0;
	          z-index:5000;		
	}
	.toplolopetiole{
	          border-width:0 0 0 5px;
		border-color:rgba(0, 0, 255, 0.5);
	          border-style:solid;	
	}
	.mylolopetiole{
	          border-width:0 0 0 5px;
		border-color:rgba(255, 150, 0, 0.75);
	          border-style:solid;	
	}
	.theirlolopetiole{
	          border-width:0 0 0 5px;
		border-color:rgba(200, 255, 0, 0.5);
	          border-style:solid;	
	}		
		.whololo{
		             display:block;
			         width:;
	            		   height:;
	            	         background-color:;
	           		
	            	     margin:2.5px 0 0 5px;
	           		
	            	         line-height:;
	            	 text-align:left;
	
	           		              color:;
	           		 font-size:12px;        
	           	}
	           .toplolo{color:rgba(0,0,175,1);}
	           .mylolo{color:rgba(255,75,0,1);}
	           .theirlolo{color:rgba(0,175,0,1);}	           	
           	
#IdeA_top{
          width:;
	 height:;
                background-color:;
	
          margin:0 auto;
	  margin-bottom:12.5px;
                 position:relative;
          z-index:2500;	
}

	#IdeA_spilttopandnot{
	          width:500px;
		 height:6.5px;
	                background-color:rgba(0,0,255,1);						
	              margin:25px auto;	
	             position:relative;
	          z-index:2500;	
	}             	

	
	
#IdeA_mineshoworhidden{
          width:75px;
	 height:75px;
                background-color:;
	
          position:absolute;
	      top:0;
	        right:0;
          z-index:5000;	
}
	.idea-myloloviewstate{
	          width:10px;
		 height:10px;
		
	                background-color:;
		          opacity:;
		
	          border-width:2.5px;
		border-color:rgba(255,75,0,1);
	          border-style:solid;
								
	          position:absolute;
		      top:12.5px;
		        right:0;
	          z-index:5000;		
	}
	.idea-myloloviewstate1{background-color:rgba(255,75,0,1);opacity:0.75;}
	.idea-myloloviewstate1:hover{background-color:rgba(255,75,0,0);opacity:1;}
	
	.idea-myloloviewstate0{background-color:rgba(255,75,0,0);opacity:0.75;}
	.idea-myloloviewstate0:hover{background-color:rgba(255,75,0,1);opacity:1;}
	
	.idea-mineshoworhide{
		        display:block;
	          width:35px;
		 height:35px;
		
	                background-color:;
		          opacity:1;
								
	          position:absolute;
		   top:30px;
		     right:17.5px;
	                      z-index:5000;		
	}
	
#IdeA_mine{
          width:;
	 height:;
                background-color:;
	
          margin:0 auto;
	  margin-bottom:12.5px;
                 position:relative;
          z-index:2500;	
}

	#IdeA_spiltmineandnot{
	          width:500px;
		 height:6.5px;
	                background-color:rgba(255,75,0,1);						
	              margin:25px auto;	
	             position:relative;
	          z-index:2500;	
	}          	
	/**************************************************************************
	 *IdeA:own
	 *
	 *
	 */
             /*ideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaidea*/
	.idea_own{
	          width:500px;
		 height:500px;
	                background-color:rgba(255,255,255,1);	
	          margin:0 auto;
	            margin-top:12.5px;
	               position:relative;
		z-index:2500;
	          overflow:hidden;		
	}
	.idea_own:last-child{}					
		/**************************************************************************
		 *IdeA:own top
		 */
		.idea_own-top{
		          width:100%;
			 height:45px;
		                background-color:;
			
		          position:absolute;
			            top:0;
			        left:0;
		          z-index:2500;
			
		          overflow:hidden;	
		}
			/**************************************************************************
			 *IdeA:own right
			 */
			.idea_own-right{
			          width:45px;
				 height:100%;
			                background-color:;
				
			          position:absolute;
				            top:0;
				               right:0;
					      z-index:2502;
				
			          overflow:hidden;	
			}
				.idea_own-right-0{}
					.idea_own-right-more{
					          width:45px;
						 height:45px;
					                background-color:;
						
					          position:absolute;
						      top:0;
						 right:0;
					          z-index:2500;	
					}
						.idea_own-right-more1{
						          width:100%;
							height:100%;
						                background-color:rgba(255,255,255,1);	
							    opacity:0.35;
										
						                 margin:0 auto;
						             position:relative;
						          z-index:2500;
							
						          overflow:hidden;	
						}
						.idea_own-right-more1:hover{opacity:1;}
						/*3*w+4mr=45
						 *w+2mt=45
						 *
						*/
						.idea_own-right-more span{
						          float:left;
						          width:7px;
							height:7px;
						                background-color:rgba(50,25,0,0.75);
						          border-radius:10px;	
											
						                      margin-top:19px;
						                margin-left:6px;	
						             position:relative;
						          z-index:2500;
							
						          overflow:hidden;	
						}				
						.idea_own-right-more span:last-child{margin-right:6px;}
					
				.idea_own-right-1{}	
					.idea_own-right-tool{
					          width:45px;
						 height:45px;
					                background-color:;
					          opacity:0.5;
					          border-radius:45px;
					          position:absolute;
						          left:0;
					          z-index:2500;
						
					          overflow:hidden;	
					}								
					.idea_own-right-tool:nth-child(1){
						top:50%;
						margin-top:-22.5px;
					}
					.idea_own-right-tool:hover{opacity:1;}
						
						.idea_own-right-tool span{
							display:block;
						                  width:100%;
							height:100%;
							
					                        background-color:;						
							         background-repeat:no-repeat;
								    background-size:contain;
						            		background-position:center center;
							 
						                       margin:0 auto;
	
							overflow:hidden;
						}				
				/**************************************************************************
				 *IdeA:own center
				 */
				.idea_own-center{
				          width:410px;
					 height:410px;
				                background-color:rgba(255,255,255,1);
					
				          margin:45px;
				          	    position:relative;
						   z-index:2499;
					
				          overflow:hidden;	
				}
					/*conconconconconconconconconconconconconconconconcon*/
					.idea_own-center-con{
					          width:360px;
						 height:360px;
					                background-color:rgba(255,255,255,1);
						
					          margin:25px auto;
					          	    position:relative;
							   z-index:2499;
						
					          overflow:hidden;	
					}				
						/*
						lanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslans
						*/																
						.idea_own-center-con-1{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own-center-con-1 span{
								display:block;									
								     width:100%;
								        height:100%;
									padding:0;
									        margin:0 auto;
										overflow:hidden;
	
								            white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								          word-break:break-all;
														
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:22.5px;
								
								cursor:default;	     	     	
						     	}				
						/*
						ImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagE
						*/
						.idea_own-center-con-2{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own-image{
								        width:100%;
						             		   height:100%;
						             	     background-color:;
					             		        opacity:1;				             		      
						             	margin:0 auto;		             		        
					             	}
								.idea_own-image span{
									display:block;
									        width:100%;
							             		   height:100%;
							             	     background-color:;
									     background-repeat:no-repeat;
									     background-size:contain;
									     background-position:top center;				             		      
							             	margin:0 auto;		             		        
						             	}				
				/*conconconconconconconconconconconconconconconconcon*/
					/*pre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:tool*/	             	
					.idea_own-center-tool{	
					}
						/*basic*/
						.idea_own-toollans,.idea_own-toolimage{
						          width:29px;
							 height:29px;
						                background-color:rgba(163,220,23,1);
							    border-width:3px;
							    border-style:solid;
							    border-color:rgba(163,220,23,1);
							    opacity:0.35;
							    
						          			position:absolute;
								        top:12px;
								     right:12px;
							          z-index:2551;					
							overflow:hidden;							
						}
						.idea_own-toollans:hover{opacity:1;border-width:0;width:35px;height:35px;background-color:rgba(125,170,17,1);}
						.idea_own-toolimage:hover{opacity:1;border-width:0;width:35px;height:35px;background-color:rgba(125,170,17,1);}
							.idea_own-toollans img,.idea_own-toolimage img{
							 display:block;
							          width:100%;
								 height:100%;
							                background-color:;
								
								margin:0 auto;
							          	        position:relative;
								          		z-index:2500;						
							}
						/*show*/
						.idea_own-toollansshow,.idea_own-toolimageshow{
						          width:35px;
							 height:35px;
						                background-color:rgba(125,170,17,1);
							    opacity:0.85;
							    
						          			position:absolute;
								        top:12px;
								     right:12px;
							          z-index:2551;					
							overflow:hidden;							
						}
							.idea_own-toollansshow img,.idea_own-toolimageshow img{
							 display:block;
							          width:100%;
								 height:100%;
							                background-color:;
								
								margin:0 auto;
							          	        position:relative;
								          		z-index:2500;						
							}
					/*pre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:con*/
					.idea_own-center-pre{
					          width:360px;
						 height:360px;
					                background-color:;
					          	   	 position:absolute;
						    top:25px;
						 left:17.5px;
					          z-index:2552;	
					}
						/*lanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlan*/
						.idea_own-center-pre-1{	
						}		
							.idea_own-center-pre-1 span{	
								display:block;									
								          width:350px;
									   height:350px;
									         padding:5px;
								                        background-color:rgba(50,50,50,0.5);
									         margin:0;
				
									    white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								      word-break:break-all;
														
								      text-align:left;
									line-height:25px;
								
								    color:rgba(255,255,255,1);
								font-size:16px;
								
								cursor:default;
							}
							.idea_own-center-pre-1 .idea_own-pre-lanshaschange{	
								height:325px;
							}
							
							 .idea_own-center-pre-1 .idea_own-pre-lanschange{
								display:block;									
								          width:360px;
								                  min-height:25px;
								               height:25px;
								                  max-height:25px;
									         padding:0;
								                        background-color:rgba(50,50,50,0.5);
									         margin:0;				
								      text-align:center;
									line-height:25px;
								
								    color:rgba(0,50,0,1);
								font-size:16px;
								
								cursor:default;	
							}
							.idea_own-center-pre-1 .idea_own-pre-lanschange:hover{					
								    color:rgba(125,255,0,1);	
							}
						/*imageimageimageimageimageimageimageimageimageimageimageimageimage*/
						.idea_own-center-pre-2{	
							   width:360px;
							      height:360px;
							         background-color:rgba(50,50,50,0.5);
							   margin:0 auto;
							    	position:relative;
							         		z-index:2500;								
						}
							.idea_own-pre-image{
								                display:block;
								            width:360px;
								      height:360px;
							       background-color:;
								    margin:0 auto;
								    	position:relative;
								         		z-index:2500;								
							}							
							 .idea_own-pre-imagechange{
								display:block;									
								          width:350px;
								               height:25px;
								          	        position:absolute;
							 	                    bottom:0;
							 	                    left:0;
							 	                    z-index:2550;				
								      text-align:center;
									line-height:25px;
								
								    color:rgba(0,50,0,1);
								font-size:16px;
								
								cursor:default;	
							}
							.idea_own-pre-imagechange:hover{					
								    color:rgba(125,255,0,1);	
							}
							 .idea_own-pre-imageclear{
								display:block;									
								          width:12.5px;
								               height:12.5px;
							 	               opacity:0.5;
								          	position:absolute;
							 	                    bottom:12.5px;
							 	                    right:12.5px;
							 	            z-index:2551;				
								cursor:default;	
							}
							.idea_own-pre-imageclear:hover{					
								    opacity:1;	
							}

							
							
					/*conconconconconconconconconconconconconconconconcon*/
							
							
					/*enterenterenterenterenterenterenterenterenterenterenter
					*/		
					.idea_own-center-enterfra{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 0, 0);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2549;	
					}
					.idea_own-center-enter{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 255, 0.25);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2550;	
					}				
						.idea_own-center-enter span{
							display:block;
							        width:120px;
					             		   height:120px;
					             	      background-color:;
							           background-repeat:no-repeat;
							         background-size:contain;
							      background-position:top center;				             		      
					             	margin:0 auto;
							margin-top:95px;		             		        
				             	}
				             	
				             	
				             	
				             /*
				             idea_own-others-timeidea_own-others-timeidea_own-others-time
				             */
				            /*
					processprocessprocessprocess
					*/
				            .idea_own-others-timeprocess{
					          width:310px;
						 height:50px;
					                background-color:rgba(0,0,255,0.5);
						
					          	    position:absolute;
						          top:75px;
						    left:50px;
					          z-index:2551;	
					                 text-align:center;
					          line-height:50px;			            	
					}					
						.idea_own-others-timeprocess a{
							display:inline-block;									
							     width:;
							        height:50px;
							                margin:0;				
							
							    color:rgba(255,255,255,1);
							font-size:22.5px;
							
							cursor:default;	
						}
						.idea_own-others-timeprocess .idea_own-others-timeprocess-con{color:rgba(255,125,0,1);cursor:pointer;}
				            /*
					processingprocessingprocessingprocessingprocessingprocessing
					*/
						.idea_own-others-timeprocessing{
						          width:310px;
							 height:50px;
						                background-color:rgba(0,0,255,0.5);
							
						          position:absolute;
							          top:75px;
							    left:50px;
						                     z-index:2551;
								
						                 text-align:center;
						          line-height:50px;				            	
						}					
							.idea_own-others-timeprocessing a{
								display:block;									
								     width:;
								        height:50px;
									     margin:0;				
								
								        color:rgba(255,255,255,1);
								   font-size:22.5px;
								
								cursor:text;	
							}																											            
												
					/*processprocessprocessprocessprocessprocessprocessprocess
					*/		
					.idea_own-center-processfra{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 0, 0);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2549;	
					}
					.idea_own-center-process{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 255, 0.25);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2550;	
					}
						.idea_own-center-process a{
							display:block;
							width:120px;
					             	  height:120px;
					             	      background-color:;				             		      
					             	     margin:0 auto;
							  margin-top:95px;
							cursor:pointer;	
						}							
							.idea_own-center-process a img{
								display:block;
								    width:120px;
						             		   height:120px;
						             	      background-color:;				             		      
						             	    margin:0 auto;
								cursor:pointer;		             		        
					             	}				             								
			/**************************************************************************
			 *IdeA:own bottom
			 */
			.idea_own-bottom{
			          width:100%;
				 height:45px;
			                background-color:;
				
			          position:absolute;
				            bottom:0;
				               left:0;
					      z-index:2503;
				
			          overflow:hidden;	
			}															
		/**************************************************************************
		 *IdeA:own left
		 */
		.idea_own-left{
		          width:45px;
			 height:100%;
		                background-color:;
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2504;
			
		          overflow:hidden;	
		}
		/**************************************************************************
		 *IdeA:own others
		 */
		.idea_own-others{	
		}
		/*000000000000000000000000000000000000000000000000000000000000000000000000000*/
			.idea_own-others-0{
				width:500px;
				   height:500px;
				background-color:rgba(0,0,0,0);
				opacity:0.05;
				position:absolute;
				     top:0;
				       left:0;
				z-index:5000;	
			}
			.idea_own-others-0:hover{opacity:0.5;}
			
				.idea_own-others-0-div0{
					width:50%;
					      height:50%;
					background-color:;
					
					position:absolute;
					     top:45px;
					       right:45px;
					     margin-top:0;
					       margin-left:0;
					z-index:5000;
				}
				
				.idea_own-others-0-div1{
					width:100%;
					      height:100%;
					background-color:;
					
					position:absolute;
					     top:0;
					       left:0;
					     margin-top:0;
					       margin-left:0;
					z-index:5000;
				}				
				            /*avatar*/
					.idea_own-others-0-div1 span{
						display:block;									
						     width:100px;
						        height:100px;
						background-color:rgba(0,0,0,1);
						
						position:absolute;
						     top:0;
						       right:0;
						     margin-top:0;
						       margin-left:0;
						z-index:5000;
										
						text-align:center;
						        line-height:100px;
						
						        color:rgba(255,255,255,1);
						font-size:25px;
						
						cursor:default;	
					}		
		/*1111111111111111111111111111111111111111111111111111111111111111111111111*/
			.idea_own-others-1{
				width:;
				   height:50px;
				        opacity:0.25;
				
				    position:absolute;
				           top:15px;
				       left:15px;
				z-index:2505;	
			}
			.idea_own-others-1:hover{opacity:0.75;}
				.idea_own-others-1-div{
					float:left;
					    width:;
					      height:;
					
					       margin-left:2.5px;
					     position:relative;
					z-index:2500;
				}
				            /*avatar*/
					.idea_own-others-1-avatar{
					          width:50px;
						 height:50px;
					                background-color:rgba(255,112,0,1);
					          border-radius:50px;
					                position:relative;
							z-index:2500;
					          overflow:hidden;	
					}
						.idea_own-others-1-avatar a{
							display:block;
						          width:100%;
							 height:50px;
						                background-color:rgba(0,0,0,0);						
						          margin:0 auto;	
						                    position:relative;
								        z-index:2500;
							
						                     overflow:hidden;
						          cursor:default;	
						}
							.idea_own-others-1-avatar a img{
								display:block;
							          width:100%;
								 height:40px;
							                background-color:rgba(0,0,0,0);						
							          margin:0 auto;	
							                    position:relative;
									        z-index:2500;
								
							                     overflow:hidden;	
							}						
					/*others*/
					.idea_own-others-1-1{
					          width:;
						 height:50px;
					                background-color:;
						
					          position:relative;
							z-index:2500;	
					}
						/*namenamenamenamenamenamenamenamenamenamenamename*/
						.idea_own-others-1-1-name{
							display:block;									
							     width:350px;
							        height:25px;
								padding:0;
								        margin:0;	
						}
							.idea_own-others-1-1-name a{
								display:block;									
								     width:100%;
								        height:25px;
									padding:0;
								         margin:0;
								overflow:hidden;
								
								text-overflow:ellipsis;				
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(255,75,0,1);
								font-size:16px;
								
								cursor:pointer;	
							}
								.idea_own-others-1-1-name a span{
									display:block;									
									     width:100%;
									        height:25px;
										padding:0;
										        margin:0;
											overflow:hidden;
											text-overflow:ellipsis;				
									       text-align:left;
									       	line-height:25px;
									
									    color:rgba(255,75,0,1);
									font-size:16px;	
								}
						/*timetimetimetimetimetimetimetimetimetimetimetimetime*/
						.idea_own-others--1-1-time{
							display:block;									
							     width:350px;
							        height:25px;
							  padding:0;
							margin:0;	
						}
							.idea_own-others--1-1-time span{
								float:left;									
								     width:;
								        height:25px;
									padding:0;
								margin-right:0;
												
								      text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:15px;
								
								cursor:default;	
							}															
		/*2222222222222222222222222222222222222222222222222222222222222222222222222*/
			.idea_own-others-2{
			            width:150px;
				      height:150px;
                                                      background-color:;
				
				position:absolute;
				    right:0;
				        bottom:0;
				z-index:2506;	
			}  																											            
				
				/*
				endendendendendendendendend
				*/
			            .idea_own-others-timeend{
					          width:150px;
						 height:150px;
					                background-color:;
						    opacity:1;

						        margin:0 auto;
					          	    position:relative;
					          z-index:2500;		            	
				}
					.idea_own-others-timeend a{color:rgba(255,0,0,1);}
					.idea_own-others-timeend-fra{
					            width:50px;
						      height:50px;
		                                                      background-color:;
						
					          border-width:0 1px 1px 0;
			            	          border-color:rgba(255,0,0,1);
			            	          border-style:solid;
												
						position:absolute;
						    right:0;
						        bottom:0;
						z-index:2500;	
					}								
					.idea_own-others-timeend-con{
						display:block;									
						     width:50px;
						        height:50px;
						background-color:;
						
						position:absolute;
						    right:0;
						        bottom:0;	
						z-index:2501;
							
					                 text-align:center;
				                        line-height:50px;
						
						        color:rgba(255,0,0,1);
						   font-size:16px;
						
						cursor:pointer;	
					}							
                                                                                                                                  	                                                                                                                                                       
	/**************************************************************************
	 *IdeA:own
	 *
	 *
	 */
	.idea_own .idea_own-div{
            	background-color:rgba(0,0,0,0.001);
	}                                                            

                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
                                                            
#IdeA_notmine{
          width:;
	 height:;
                background-color:;
	
          margin:0 auto;
	  margin-bottom:12.5px;
                 position:relative;
          z-index:2500;	
}                                                            
                                                                                                                     
	/**************************************************************************
	 *IdeA:ownnotmine
	 *
	 *
	 */
             /*ideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaidea*/
	.idea_ownnotmine{
	          width:500px;
		 height:500px;
	                background-color:rgba(255,255,255,1);	
	          margin:0 auto;
	            margin-top:12.5px;
	               position:relative;
		z-index:2500;
	          overflow:hidden;		
	}
	.idea_ownnotmine:last-child{}					
		/**************************************************************************
		 *IdeA:ownnotmine top
		 */
		.idea_ownnotmine-top{
		          width:100%;
			 height:45px;
		                background-color:;
			
		          position:absolute;
			            top:0;
			         left:0;
			z-index:2500;
			
		          overflow:hidden;	
		}
			/**************************************************************************
			 *IdeA:ownnotmine right
			 */
			.idea_ownnotmine-right{
			          width:45px;
				 height:100%;
			                background-color:;
				
			          position:absolute;
				            top:0;
				               right:0;
					      z-index:2502;
				
			          overflow:hidden;	
			}
					.idea_ownnotmine-right-more1{
					          width:100%;
						height:100%;
					                background-color:rgba(255,255,255,1);	
						    opacity:0.35;
									
					                 margin:0 auto;
					             position:relative;
					          z-index:2500;
						
					          overflow:hidden;	
					}
					.idea_ownnotmine-right-more1:hover{opacity:1;}
					/*3*w+4mr=45
					 *w+2mt=45
					 *
					*/
					.idea_ownnotmine-right-more span{
					          float:left;
					          width:7px;
						height:7px;
					                background-color:rgba(50,25,0,0.75);
					          border-radius:10px;	
										
					                      margin-top:19px;
					                margin-left:6px;	
					             position:relative;
					          z-index:2500;
						
					          overflow:hidden;	
					}				
					.idea_ownnotmine-right-more span:last-child{margin-right:6px;}				
					
				.idea_ownnotmine-right-1{}	
					.idea_ownnotmine-right-tool{
					          width:45px;
						 height:45px;
					                background-color:rgba(0,0,255,0.25);
					          opacity:0.85;
						
					          position:absolute;
						          left:0;
					          z-index:2500;
						
					          overflow:hidden;	
					}						
					.idea_ownnotmine-right-tool:nth-child(1){
						background-color:rgba(0,0,255,0.25);
						top:25%;
						margin-top:-22.5px;
					}				
					.idea_ownnotmine-right-tool:hover{background-color:rgba(255,255,255,1);}	
						.idea_ownnotmine-right-tool span{
							display:block;
						                  width:100%;
							height:100%;
							
					                        background-color:;						
							         background-repeat:no-repeat;
								    background-size:contain;
						            		background-position:center center;
							 
						                       margin:0 auto;
	
							overflow:hidden;
						}				
				/**************************************************************************
				 *IdeA:ownnotmine center
				 */
				.idea_ownnotmine-center{
				          width:410px;
					 height:410px;
				                background-color:rgba(255,255,255,1);
					
				          margin:45px;
				          	    position:relative;
						   z-index:2499;
					
				          overflow:hidden;	
				}
					/*conconconconconconconconconconconconconconconconcon*/
					.idea_ownnotmine-center-con{
					          width:360px;
						 height:360px;
					                background-color:rgba(255,255,255,1);
						
					          margin:25px auto;
					          	    position:relative;
							   z-index:2499;
						
					          overflow:hidden;	
					}				
						/*
						lanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslans
						*/																
						.idea_ownnotmine-center-con-1{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_ownnotmine-center-con-1 span{
								display:block;									
								     width:100%;
								        height:100%;
									padding:0;
									        margin:0 auto;
										overflow:hidden;
	
								            white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								          word-break:break-all;
														
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:22.5px;
								
								cursor:default;	     	     	
						     	}				
						/*
						ImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagE
						*/
						.idea_ownnotmine-center-con-2{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_ownnotmine-image{
								        width:100%;
						             		   height:100%;
						             	     background-color:;
					             		        opacity:1;				             		      
						             	margin:0 auto;		             		        
					             	}
								.idea_ownnotmine-image span{
									display:block;
									        width:100%;
							             		   height:100%;
							             	     background-color:;
									     background-repeat:no-repeat;
									     background-size:contain;
									     background-position:top center;				             		      
							             	margin:0 auto;		             		        
						             	}				
				/*conconconconconconconconconconconconconconconconcon*/
					/*pre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:toolpre:tool*/	             	
					.idea_ownnotmine-center-tool{	
					}
						/*basic*/
						.idea_ownnotmine-toollans,.idea_ownnotmine-toolimage{
						          width:29px;
							 height:29px;
						                background-color:rgba(163,220,23,1);
							    border-width:3px;
							    border-style:solid;
							    border-color:rgba(163,220,23,1);
							    opacity:0.35;
							    
						          			position:absolute;
								        top:12px;
								     right:12px;
							          z-index:2551;					
							overflow:hidden;							
						}
						.idea_ownnotmine-toollans:hover{opacity:1;border-width:0;width:35px;height:35px;background-color:rgba(125,170,17,1);}
						.idea_ownnotmine-toolimage:hover{opacity:1;border-width:0;width:35px;height:35px;background-color:rgba(125,170,17,1);}
							.idea_ownnotmine-toollans img,.idea_ownnotmine-toolimage img{
							 display:block;
							          width:100%;
								 height:100%;
							                background-color:;
								
								margin:0 auto;
							          	        position:relative;
								          		z-index:2500;						
							}
						/*show*/
						.idea_ownnotmine-toollansshow,.idea_ownnotmine-toolimageshow{
						          width:35px;
							 height:35px;
						                background-color:rgba(125,170,17,1);
							    opacity:0.85;
							    
						          			position:absolute;
								        top:12px;
								     right:12px;
							          z-index:2551;					
							overflow:hidden;							
						}
							.idea_ownnotmine-toollansshow img,.idea_ownnotmine-toolimageshow img{
							 display:block;
							          width:100%;
								 height:100%;
							                background-color:;
								
								margin:0 auto;
							          	        position:relative;
								          		z-index:2500;						
							}
					/*pre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:conpre:con*/
					.idea_ownnotmine-center-pre{
					          width:360px;
						 height:360px;
					                background-color:;
					          	   	 position:absolute;
						    top:25px;
						 left:17.5px;
					          z-index:2552;	
					}
						/*lanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlanlan*/
						.idea_ownnotmine-center-pre-1{	
						}		
							.idea_ownnotmine-center-pre-1 span{	
								display:block;									
								          width:350px;
									   height:350px;
									         padding:5px;
								                        background-color:rgba(50,50,50,0.5);
									         margin:0;
				
									    white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								      word-break:break-all;
														
								      text-align:left;
									line-height:25px;
								
								    color:rgba(255,255,255,1);
								font-size:16px;
								
								cursor:default;
							}
							 .idea_ownnotmine-center-pre-1 .idea_ownnotmine-pre-lanschange{
								display:block;									
								          width:360px;
								                  min-height:25px;
								               height:25px;
								                  max-height:25px;
									         padding:0;
								                        background-color:rgba(50,50,50,0.5);
									         margin:0;				
								      text-align:center;
									line-height:25px;
								
								    color:rgba(0,50,0,1);
								font-size:16px;
								
								cursor:default;	
							}
							.idea_ownnotmine-center-pre-1 .idea_ownnotmine-pre-lanschange:hover{					
								    color:rgba(125,255,0,1);	
							}
						/*imageimageimageimageimageimageimageimageimageimageimageimageimage*/
						.idea_ownnotmine-center-pre-2{	
							   width:360px;
							      height:360px;
							         background-color:rgba(50,50,50,0.5);
							   margin:0 auto;
							    	position:relative;
							         		z-index:2500;								
						}
							.idea_ownnotmine-pre-image{
								                display:block;
								            width:360px;
								      height:360px;
							       background-color:;
								    margin:0 auto;
								    	position:relative;
								         		z-index:2500;								
							}							
							 .idea_ownnotmine-pre-imagechange{
								display:block;									
								          width:350px;
								               height:25px;
								          	        position:absolute;
							 	                    bottom:0;
							 	                    left:0;
							 	                    z-index:2550;				
								      text-align:center;
									line-height:25px;
								
								    color:rgba(0,50,0,1);
								font-size:16px;
								
								cursor:default;	
							}
							.idea_ownnotmine-pre-imagechange:hover{					
								    color:rgba(125,255,0,1);	
							}
							 .idea_ownnotmine-pre-imageclear{
								display:block;									
								          width:12.5px;
								               height:12.5px;
							 	               opacity:0.5;
								          	position:absolute;
							 	                    bottom:12.5px;
							 	                    right:12.5px;
							 	            z-index:2551;				
								cursor:default;	
							}
							.idea_ownnotmine-pre-imageclear:hover{					
								    opacity:1;	
							}

							
							
					/*conconconconconconconconconconconconconconconconcon*/
							
							
					/*enterenterenterenterenterenterenterenterenterenterenter
					*/		
					.idea_ownnotmine-center-enterfra{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 0, 0);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2549;	
					}
					.idea_ownnotmine-center-enter{
					          width:310px;
						 height:310px;
					                background-color:rgba(0, 0, 255, 0.25);
						
					          	    position:absolute;
						          top:50px;
						            left:50px;
							   z-index:2550;	
					}				
						.idea_ownnotmine-center-enter span{
							display:block;
							        width:120px;
					             		   height:120px;
					             	      background-color:;
							           background-repeat:no-repeat;
							         background-size:contain;
							      background-position:top center;				             		      
					             	margin:0 auto;
							margin-top:95px;		             		        
				             	}				             								
			/**************************************************************************
			 *IdeA:ownnotmine bottom
			 */
			.idea_ownnotmine-bottom{
			          width:100%;
				 height:45px;
			                background-color:;
				
			          position:absolute;
				            bottom:0;
				               left:0;
					      z-index:2503;
				
			          overflow:hidden;	
			}															
		/**************************************************************************
		 *IdeA:ownnotmine left
		 */
		.idea_ownnotmine-left{
		          width:45px;
			 height:100%;
		                background-color:;
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2504;
			
		          overflow:hidden;	
		}
		/**************************************************************************
		 *IdeA:ownnotmine others
		 */
		.idea_ownnotmine-others{	
		}
		/*000000000000000000000000000000000000000000000000000000000000000000000000000*/
			.idea_ownnotmine-others-0{
				width:500px;
				   height:500px;
				background-color:rgba(0,0,0,0);
				opacity:0.05;
				position:absolute;
				     top:0;
				       left:0;
				z-index:5000;	
			}
			.idea_ownnotmine-others-0:hover{opacity:0.5;}
			
				.idea_ownnotmine-others-0-div0{
					width:50%;
					      height:50%;
					background-color:;
					
					position:absolute;
					     top:45px;
					       right:45px;
					     margin-top:0;
					       margin-left:0;
					z-index:5000;
				}
				
				.idea_ownnotmine-others-0-div1{
					width:100%;
					      height:100%;
					background-color:;
					
					position:absolute;
					     top:0;
					       left:0;
					     margin-top:0;
					       margin-left:0;
					z-index:5000;
				}				
				            /*avatar*/
					.idea_ownnotmine-others-0-div1 span{
						display:block;									
						     width:100px;
						        height:100px;
						background-color:rgba(0,0,0,1);
						
						position:absolute;
						     top:0;
						       right:0;
						     margin-top:0;
						       margin-left:0;
						z-index:5000;
										
						text-align:center;
						        line-height:100px;
						
						        color:rgba(255,255,255,1);
						font-size:25px;
						
						cursor:default;	
					}		
		/*1111111111111111111111111111111111111111111111111111111111111111111111111*/
			.idea_ownnotmine-others-1{
				width:;
				   height:50px;
				        opacity:0.25;
				
				    position:absolute;
				           top:15px;
				       left:15px;
				z-index:2505;	
			}
			.idea_ownnotmine-others-1:hover{opacity:0.75;}
				.idea_ownnotmine-others-1-div{
					float:left;
					    width:;
					      height:;
					
					       margin-left:2.5px;
					     position:relative;
					z-index:2500;
				}
				            /*avatar*/
					.idea_ownnotmine-others-1-avatar{
					          width:50px;
						 height:50px;
					                background-color:rgba(255,112,0,1);
						
					          border-radius:50px;
						
					                             position:relative;
						         z-index:2500;
					          overflow:hidden;	
					}
						.idea_ownnotmine-others-1-avatar a{
							display:block;
						          width:100%;
							 height:50px;
						                background-color:rgba(0,0,0,0);						
						          margin:0 auto;	
						                    position:relative;
								        z-index:2500;
							
						                     overflow:hidden;
						          cursor:default;	
						}
							.idea_ownnotmine-others-1-avatar a img{
								display:block;
							          width:100%;
								 height:40px;
							                background-color:rgba(0,0,0,0);						
							          margin:0 auto;	
							                    position:relative;
									        z-index:2500;
								
							                     overflow:hidden;	
							}						
					/*others*/
					.idea_ownnotmine-others-1-1{
					          width:;
						 height:50px;
					                background-color:;
						
					          position:relative;
							z-index:2500;	
					}
						.idea_ownnotmine-others-1-1-name{
							display:block;									
							     width:350px;
							        height:25px;
								padding:0;
								        margin:0;	
						}
							.idea_ownnotmine-others-1-1-name a{
								display:block;									
								     width:100%;
								        height:25px;
									padding:0;
									        margin:0;
										overflow:hidden;
										text-overflow:ellipsis;				
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(255,75,0,1);
								font-size:16px;
								
								cursor:pointer;	
							}
								.idea_ownnotmine-others-1-1-name a span{
									display:block;									
									     width:100%;
									        height:25px;
										padding:0;
										        margin:0;
											overflow:hidden;
											text-overflow:ellipsis;				
									       text-align:left;
									       	line-height:25px;
									
									    color:rgba(255,75,0,1);
									font-size:16px;	
								}
						/*timetimetimetimetimetimetimetimetimetimetimetimetime*/
						.idea_ownnotmine-others--1-1-time{
							display:block;									
							     width:350px;
							        height:25px;
							  padding:0;
							margin:0;	
						}
							.idea_ownnotmine-others--1-1-time span{
								float:left;									
								     width:;
								        height:25px;
									padding:0;
								margin-right:0;
												
								      text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:15px;
								
								cursor:default;	
							}
								
								
		/*2222222222222222222222222222222222222222222222222222222222222222222222222*/
			.idea_ownnotmine-others-2{
			            width:150px;
				      height:150px;
                                                      background-color:;
				
				position:absolute;
				    right:0;
				        bottom:0;
				z-index:2506;	
			}  
			            /*
				processprocessprocessprocessprocessprocessprocessprocessprocessprocess
				*/
					.idea_ownnotmine-others-timeprocess a{color:rgba(50,25,0,1);}
					.idea_ownnotmine-others-timeprocess-fra{
					            width:50px;
						      height:50px;
		                                                      background-color:;
						
					          border-width:0 1px 1px 0;
			            	          border-color:rgba(50,25,0,1);
			            	          border-style:solid;
												
						position:absolute;
						    right:0;
						        bottom:0;
						z-index:2500;	
					}								
					.idea_ownnotmine-others-timeprocess-con{
						display:block;									
						     width:50px;
						        height:50px;
						background-color:;
						
						position:absolute;
						    right:0;
						        bottom:0;	
						z-index:2501;
							
					                 text-align:center;
				                        line-height:50px;
						
						        color:rgba(50,25,0,1);
						   font-size:16px;
						
						cursor:pointer;	
					}			             	
			            /*
				processingprocessingprocessingprocessingprocessingprocessing
				*/																										            
					.idea_ownnotmine-others-timeprocessing a{color:rgba(255,125,0,1);}
					.idea_ownnotmine-others-timeprocessing-fra{
					            width:50px;
						      height:50px;
		                                                      background-color:;
						
					          border-width:0 1px 1px 0;
			            	          border-color:rgba(255,125,0,1);
			            	          border-style:solid;
												
						position:absolute;
						    right:0;
						        bottom:0;
						z-index:2500;	
					}								
					.idea_ownnotmine-others-timeprocessing-con{
						display:block;									
						     width:50px;
						        height:50px;
						background-color:;
						
						position:absolute;
						    right:0;
						        bottom:0;	
						z-index:2501;
							
					                 text-align:center;
				                        line-height:50px;
						
						        color:rgba(255,125,0,1);
						   font-size:16px;
						
						cursor:pointer;	
					}				
				/*
				endendendendendendendendend
				*/
					.idea_ownnotmine-others-timeend a{color:rgba(255,0,0,1);}
					.idea_ownnotmine-others-timeend-fra{
					            width:50px;
						      height:50px;
		                                                      background-color:;
						
					          border-width:0 1px 1px 0;
			            	          border-color:rgba(255,0,0,1);
			            	          border-style:solid;
												
						position:absolute;
						    right:0;
						        bottom:0;
						z-index:2500;	
					}								
					.idea_ownnotmine-others-timeend-con{
						display:block;									
						     width:50px;
						        height:50px;
						background-color:;
						
						position:absolute;
						    right:0;
						        bottom:0;	
						z-index:2501;
							
					                 text-align:center;
				                        line-height:50px;
						
						        color:rgba(255,0,0,1);
						   font-size:16px;
						
						cursor:pointer;	
					}
							                                                                                                                                	                                                                                                                                                       
	/**************************************************************************
	 *IdeA:ownnotmine
	 *
	 *
	 */
	.idea_ownnotmine .idea_ownnotmine-div{
            	background-color:rgba(0,0,0,0.001);
	}
