	/**************************************************************************
	 *IdeA:own1
	 *
	 *
	 */
             /*ideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaidea*/
	.idea_own1{
	          width:325px;
		 height:325px;
	                background-color:;
	          	    position:absolute;
		         top:87.5px;
		                left:0;
		    z-index:2500;
	          overflow:hidden;		
	}
					
		/**************************************************************************
		 *IdeA:own1 top
		 */
		.idea_own1-top{
		          width:100%;
			 height:30px;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2500;
			
		          overflow:hidden;	
		}
			/**************************************************************************
			 *IdeA:own1 right
			 */
			.idea_own1-right{
			          width:30px;
				 height:100%;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            top:0;
				               right:0;
					      z-index:2502;
				
			          overflow:hidden;	
			}				
				/**************************************************************************
				 *IdeA:own1 center
				 */
				.idea_own1-center{
				          width:265px;
					 height:265px;
				                background-color:rgba(255,255,255,1);
					
				          margin:30px;
				          	    position:relative;
						   z-index:2499;
					
				          overflow:hidden;	
				}
					/*conconconconconconconconconconconconconconconconcon*/
					.idea_own1-center-con{
					          width:235px;
						 height:235px;
					                background-color:rgba(255,255,255,1);
						
					          margin:15px auto;
					          	    position:relative;
							   z-index:2499;
						
					          overflow:hidden;	
					}				
						/*
						lanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslans
						*/																
						.idea_own1-center-con-1{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own1-center-con-1 span{
								display:block;									
								     width:100%;
								        height:100%;
									padding:0;
									        margin:0 auto;
										overflow:hidden;
	
								            white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								          word-break:break-all;
														
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:16px;
								
								cursor:default;	     	     	
						     	}				
						/*
						ImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagE
						*/
						.idea_own1-center-con-2{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own1-image{
								        width:100%;
						             		   height:100%;
						             	     background-color:;
					             		        opacity:1;				             		      
						             	margin:0 auto;		             		        
					             	}
								.idea_own1-image span{
									display:block;
									        width:100%;
							             		   height:100%;
							             	     background-color:;
									     background-repeat:no-repeat;
									     background-size:contain;
									     background-position:top center;				             		      
							             	margin:0 auto;		             		        
						             	}																																														
			/**************************************************************************
			 *IdeA:own1 bottom
			 */
			.idea_own1-bottom{
			          width:100%;
				 height:30px;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            bottom:0;
				               left:0;
					      z-index:2503;
				
			          overflow:hidden;	
			}															
		/**************************************************************************
		 *IdeA:own1 left
		 */
		.idea_own1-left{
		          width:30px;
			 height:100%;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2504;
			
		          overflow:hidden;	
		}
		/**************************************************************************
		 *IdeA:own1 others
		 */
		.idea_own1-others{	
		}
		/*1111111111111111111111111111111111111111111111111111111111111111111111111*/
			.idea_own1-others-1{
				width:;
				   height:33px;
				        opacity:0.25;
				
				    position:absolute;
				           top:10px;
				       left:10px;
				z-index:2505;	
			}		
			.idea_own1-others-1:hover{opacity:0.75;}
				.idea_own1-others-1-div{
					float:left;
					    width:;
					      height:;
					
					       margin-left:2.5px;
					     position:relative;
					z-index:2500;
				}
				            /*avatar*/
					.idea_own1-others-1-avatar{
					          width:33px;
						 height:33px;
					                background-color:rgba(255,112,0,1);
						
					          border-radius:33px;
					                position:relative;
							z-index:2500;
					          overflow:hidden;	
					}
						.idea_own1-others-1-avatar a{
							display:block;
						          width:100%;
							 height:33px;
						                background-color:rgba(0,0,0,0);						
						          margin:0 auto;	
						                    position:relative;
								        z-index:2500;
							
						                     overflow:hidden;
						          cursor:default;	
						}
							.idea_own1-others-1-avatar a img{
								display:block;
							          width:100%;
								 height:30px;
							                background-color:rgba(0,0,0,0);						
							          margin:0 auto;	
							                    position:relative;
									        z-index:2500;
								
							                     overflow:hidden;	
							}						
					.idea_own1-others-1-1{
					          width:;
						 height:33px;
					                background-color:;
						
					          position:relative;
							z-index:2500;	
					}
						.idea_own1-others-1-1-name{
							display:block;									
							     width:225px;
							        height:16.5px;
								padding:0;
								        margin:0;	
						}
							.idea_own1-others-1-1-name a{
								display:block;									
								     width:100%;
								        height:16.5px;
									padding:0;
									        margin:0;
										overflow:hidden;
										text-overflow:ellipsis;				
								       text-align:left;
								       	line-height:16.5px;
								
								    color:rgba(255,75,0,1);
								font-size:16px;
								
								cursor:pointer;	
							}
								.idea_own1-others-1-1-name a span{
									display:block;									
									     width:100%;
									        height:16.5px;
										padding:0;
										        margin:0;
											overflow:hidden;
											text-overflow:ellipsis;				
									       text-align:left;
									       	line-height:16.5px;
									
									    color:rgba(255,75,0,1);
									font-size:16px;	
								}
						/*timetimetimetimetimetimetimetimetimetimetimetimetime*/
						.idea_own1-others-1-1-time{
							display:block;									
							     width:225px;
							        height:16.5px;
							  padding:0;
							margin:0;	
						}
							.idea_own1-others-1-1-time span{
								float:left;									
								     width:;
								        height:16.5px;
									padding:0;
								margin-right:0;
												
								      text-align:left;
								       	line-height:16.5px;
								
								    color:rgba(50,25,0,1);
								font-size:12px;
								
								cursor:default;	
							}										       
                                                                                                                                  	                                                                                                                                                       
	/**************************************************************************
	 *IdeA:own1
	 *
	 *
	 */


             
             
             
             
             
	/**************************************************************************
	 *IdeA:own2
	 *
	 *
	 */
             /*ideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaidea*/
	.idea_own2{
	          width:500px;
		 height:500px;
	                background-color:;
			
	          margin:0 auto;
	          	   position:relative;
	          z-index:2525;
		
	          overflow:hidden;		
	}					
		/**************************************************************************
		 *IdeA:own2 top
		 */
		.idea_own2-top{
		          width:100%;
			 height:45px;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2500;
			
		          overflow:hidden;	
		}
			/**************************************************************************
			 *IdeA:own2 right
			 */
			.idea_own2-right{
			          width:45px;
				 height:100%;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            top:0;
				               right:0;
					      z-index:2502;
				
			          overflow:hidden;	
			}
				.idea_own2-right-0{
				          width:45px;
					 height:45px;
				                background-color:;
					
				          position:absolute;
					            top:0;
					               right:0;
						      z-index:2500;	
				}
				.idea_own2-right-0:hover{}
					.idea_own2-right-0 span{
						display:block;
					          width:100%;
						 height:100%;
					                background-color:rgba(0,0,0,0);
						      background-repeat:no-repeat;
							    background-size:35px 35px;
					                                   background-position:center center;						
					          margin:0 auto;	
					                margin-top:0;
					                    position:relative;
							        z-index:2500;
						
					          overflow:hidden;	
					}				
					.idea_own2-right-0 span:hover{background-size:35px 40px;}
				.idea_own2-right-tool{
				          width:45px;
					 height:45px;
				                background-color:rgba(0,0,255,0.25);
					    opacity:0.85;
				          margin:0;
				             margin-top:12.5px;
				          position:relative;
						z-index:2500;
					
				          overflow:hidden;	
				}
				.idea_own2-right-1{display:none;}/*margin-top:170px;*/
				.idea_own2-right-3{display:none;}
				.idea_own2-right-2{margin-top:227.5px;}/*margin-top:170px;*/
				.idea_own2-right-tool:hover{background-color:rgba(255,255,255,1);opacity:1;}
					.idea_own2-right-tool span{
						display:block;
					          width:100%;
						 height:100%;
				                              background-color:;						
						      background-repeat:no-repeat;
							    background-size:contain;
					                                   background-position:center center; 
					          margin:0 auto;	
					}				
				/**************************************************************************
				 *IdeA:own2 center
				 */
				.idea_own2-center{
				          width:410px;
					 height:410px;
				                background-color:rgba(255,255,255,1);
					
				          margin:45px;
				          	    position:relative;
						   z-index:2499;
					
				          overflow:hidden;	
				}
					/*conconconconconconconconconconconconconconconconcon*/
					.idea_own2-center-con{
					          width:360px;
						 height:360px;
					                background-color:rgba(255,255,255,1);
						
					          margin:25px auto;
					          	    position:relative;
							   z-index:2499;
						
					          overflow:hidden;	
					}				
						/*
						lanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslans
						*/																
						.idea_own2-center-con-1{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own2-center-con-1 span{
								display:block;									
								     width:100%;
								        height:100%;
									padding:0;
									        margin:0 auto;
										overflow:hidden;
	
								            white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								          word-break:break-all;
														
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:22.5px;
								
								cursor:default;	     	     	
						     	}				
						/*
						ImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagE
						*/
						.idea_own2-center-con-2{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own2-image{
								        width:100%;
						             		   height:100%;
						             	     background-color:;
					             		        opacity:1;				             		      
						             	margin:0 auto;		             		        
					             	}
								.idea_own2-image span{
									display:block;
									        width:100%;
							             		   height:100%;
							             	     background-color:;
									     background-repeat:no-repeat;
									     background-size:contain;
									     background-position:top center;				             		      
							             	margin:0 auto;		             		        
						             	}				
				/*conconconconconconconconconconconconconconconconcon*/
							
						/*enterenterenterenterenterenterenterenterenterenterenter
						*/		
						.idea_own2-center-enterfra{
						          width:310px;
							 height:310px;
						                background-color:rgba(0, 0, 0, 0);
							
						          	    position:absolute;
							          top:50px;
							            left:50px;
								   z-index:2549;	
						}
						.idea_own2-center-enter{
						          width:310px;
							 height:310px;
						                background-color:rgba(0, 0, 255, 0.25);
							
						          	    position:absolute;
							          top:50px;
							            left:50px;
								   z-index:2550;	
						}				
							.idea_own2-center-enter a{
								display:block;
								        width:120px;
						             		   height:120px;
						             	      background-color:;				             		      
						          	    position:absolute;
							          top:95px;
							            left:95px;
								   z-index:2550;
								cursor:pointer;		             		        
					             	}
								.idea_own2-center-enter a span{
									display:block;
									        width:120px;
							             		   height:120px;
							             	      background-color:;
									           background-repeat:no-repeat;
									         background-size:contain;
									      background-position:center center;				             		      
							          	    position:absolute;
								          top:0;
								            left:0;
									   z-index:2550;
									cursor:pointer;		             		        
						             	}							
							
			/**************************************************************************
			 *IdeA:own2 bottom
			 */
			.idea_own2-bottom{
			          width:100%;
				 height:45px;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            bottom:0;
				               left:0;
					      z-index:2503;
				
			          overflow:hidden;	
			}															
		/**************************************************************************
		 *IdeA:own2 left
		 */
		.idea_own2-left{
		          width:45px;
			 height:100%;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2504;
			
		          overflow:hidden;	
		}
		/**************************************************************************
		 *IdeA:own2 others
		 */
		.idea_own2-others{	
		}
		/*1111111111111111111111111111111111111111111111111111111111111111111111111*/
			.idea_own2-others-1{
				width:;
				   height:50px;
				        opacity:0.25;
				
				    position:absolute;
				           top:15px;
				       left:15px;
				z-index:2505;	
			}		

			.idea_own2-others-1:hover{opacity:0.75;}
				.idea_own2-others-1-div{
					float:left;
					    width:;
					      height:;
					
					       margin-left:2.5px;
					     position:relative;
					z-index:2500;
				}
				            /*avatar*/
					.idea_own2-others-1-avatar{
					          width:50px;
						 height:50px;
					                background-color:rgba(255,112,0,1);
									
					          border-radius:50px;
					                position:relative;
							z-index:2500;
					          overflow:hidden;	
					}
						.idea_own2-others-1-avatar a{
							display:block;
						          width:100%;
							 height:50px;
						                background-color:rgba(0,0,0,0);						
						          margin:0 auto;	
						                    position:relative;
								        z-index:2500;
							
						                     overflow:hidden;
						          cursor:default;	
						}
							.idea_own2-others-1-avatar a img{
								display:block;
							          width:100%;
								 height:40px;
							                background-color:rgba(0,0,0,0);						
							          margin:0 auto;	
							                    position:relative;
									        z-index:2500;
								
							                     overflow:hidden;	
							}						
					.idea_own2-others-1-1{
					          width:;
						 height:50px;
					                background-color:;
						
					          position:relative;
							z-index:2500;	
					}
						.idea_own2-others-1-1-name{
							display:block;									
							     width:350px;
							        height:25px;
								padding:0;
								        margin:0;	
						}
							.idea_own2-others-1-1-name a{
								display:block;									
								     width:100%;
								        height:25px;
									padding:0;
									        margin:0;
										overflow:hidden;
										text-overflow:ellipsis;				
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(255,75,0,1);
								font-size:16px;
								
								cursor:pointer;	
							}
								.idea_own2-others-1-1-name a span{
									display:block;									
									     width:100%;
									        height:25px;
										padding:0;
										        margin:0;
											overflow:hidden;
											text-overflow:ellipsis;				
									       text-align:left;
									       	line-height:25px;
									
									    color:rgba(255,75,0,1);
									font-size:16px;	
								}
						/*timetimetimetimetimetimetimetimetimetimetimetimetime*/
						.idea_own2-others-1-1-time{
							display:block;									
							     width:350px;
							        height:25px;
							  padding:0;
							margin:0;	
						}
							.idea_own2-others-1-1-time span{
								float:left;									
								     width:;
								        height:25px;
									padding:0;
								margin-right:0;
												
								      text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:15px;
								
								cursor:default;	
							}															
                                                                                                                                  	                                                                                                                                                       
	/**************************************************************************
	 *IdeA:own2
	 *
	 *
	 */


							
							
							
							
							
							
							
							
	/**************************************************************************
	 *IdeA:own3
	 *
	 *
	 */
             /*ideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaideaidea*/
	.idea_own3{
	          width:325px;
		 height:325px;
	                background-color:;		
	          	    position:absolute;
		         top:87.5px;
		                right:0;
		    z-index:2500;
	          overflow:hidden;		
	}
					
		/**************************************************************************
		 *IdeA:own3 top
		 */
		.idea_own3-top{
		          width:100%;
			 height:30px;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2500;
			
		          overflow:hidden;	
		}
			/**************************************************************************
			 *IdeA:own3 right
			 */
			.idea_own3-right{
			          width:30px;
				 height:100%;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            top:0;
				               right:0;
					      z-index:2502;
				
			          overflow:hidden;	
			}				
				/**************************************************************************
				 *IdeA:own3 center
				 */
				.idea_own3-center{
				          width:265px;
					 height:265px;
				                background-color:rgba(255,255,255,1);
					
				          margin:30px;
				          	    position:relative;
						   z-index:2499;
					
				          overflow:hidden;	
				}
					/*conconconconconconconconconconconconconconconconcon*/
					.idea_own3-center-con{
					          width:235px;
						 height:235px;
					                background-color:rgba(255,255,255,1);
						
					          margin:15px auto;
					          	    position:relative;
							   z-index:2499;
						
					          overflow:hidden;	
					}				
						/*
						lanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslanslans
						*/																
						.idea_own3-center-con-1{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own3-center-con-1 span{
								display:block;									
								     width:100%;
								        height:100%;
									padding:0;
									        margin:0 auto;
										overflow:hidden;
	
								            white-space:pre-wrap;
								
									overflow-wrap:break-word;word-wrap:break-word;			
								          word-break:break-all;
														
								       text-align:left;
								       	line-height:25px;
								
								    color:rgba(50,25,0,1);
								font-size:16px;
								
								cursor:default;	     	     	
						     	}				
						/*
						ImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagEImagE
						*/
						.idea_own3-center-con-2{
						          width:100%;
							 height:100%;
						                background-color:rgba(255,255,255,1);
							
						          margin:0 auto;
						          	    position:relative;
								   z-index:2500;
							
						          overflow:hidden;									
						}
							.idea_own3-image{
								        width:100%;
						             		   height:100%;
						             	     background-color:;
					             		        opacity:1;				             		      
						             	margin:0 auto;		             		        
					             	}
								.idea_own3-image span{
									display:block;
									        width:100%;
							             		   height:100%;
							             	     background-color:;
									     background-repeat:no-repeat;
									     background-size:contain;
									     background-position:top center;				             		      
							             	margin:0 auto;		             		        
						             	}				

			/**************************************************************************
			 *IdeA:own3 bottom
			 */
			.idea_own3-bottom{
			          width:100%;
				 height:30px;
			                background-color:rgba(0,0,0,0.001);
				
			          position:absolute;
				            bottom:0;
				               left:0;
					      z-index:2503;
				
			          overflow:hidden;	
			}															
		/**************************************************************************
		 *IdeA:own3 left
		 */
		.idea_own3-left{
		          width:30px;
			 height:100%;
		                background-color:rgba(0,0,0,0.001);
			
		          position:absolute;
			            top:0;
			               left:0;
				      z-index:2504;
			
		          overflow:hidden;	
		}
		/**************************************************************************
		 *IdeA:own3 others
		 */
		.idea_own3-others{	
		}
		/*1111111111111111111111111111111111111111111111111111111111111111111111111*/
			.idea_own3-others-1{
				width:;
				   height:33px;
				        opacity:0.25;
				
				    position:absolute;
				           top:10px;
				       left:10px;
				z-index:2505;	
			}		
			.idea_own3-others-1:hover{opacity:0.75;}
				.idea_own3-others-1-div{
					float:left;
					    width:;
					      height:;
					
					       margin-left:2.5px;
					     position:relative;
					z-index:2500;
				}
				            /*avatar*/
					.idea_own3-others-1-avatar{
					          width:33px;
						 height:33px;
					                background-color:rgba(255,112,0,1);
						
					          border-radius:33px;
					                position:relative;
							z-index:2500;
					          overflow:hidden;	
					}
						.idea_own3-others-1-avatar a{
							display:block;
						          width:100%;
							 height:33px;
						                background-color:rgba(0,0,0,0);						
						          margin:0 auto;	
						                    position:relative;
								        z-index:2500;
							
						                     overflow:hidden;
						          cursor:default;	
						}
							.idea_own3-others-1-avatar a img{
								display:block;
							          width:100%;
								 height:30px;
							                background-color:rgba(0,0,0,0);						
							          margin:0 auto;	
							                    position:relative;
									        z-index:2500;
								
							                     overflow:hidden;	
							}						
					/*others*/
					.idea_own3-others-1-1{
					          width:;
						 height:33px;
					                background-color:;
						
					          position:relative;
							z-index:2500;	
					}
						.idea_own3-others-1-1-name{
							display:block;									
							     width:225px;
							        height:16.5px;
								padding:0;
								        margin:0;	
						}
							.idea_own3-others-1-1-name a{
								display:block;									
								     width:100%;
								        height:16.5px;
									padding:0;
									        margin:0;
										overflow:hidden;
										text-overflow:ellipsis;				
								       text-align:left;
								       	line-height:16.5px;
								
								    color:rgba(255,75,0,1);
								font-size:16px;
								
								cursor:pointer;	
							}
								.idea_own3-others-1-1-name a span{
									display:block;									
									     width:100%;
									        height:16.5px;
										padding:0;
										        margin:0;
											overflow:hidden;
											text-overflow:ellipsis;				
									       text-align:left;
									       	line-height:16.5px;
									
									    color:rgba(255,75,0,1);
									font-size:16px;	
								}							
						/*timetimetimetimetimetimetimetimetimetimetimetimetime*/
						.idea_own3-others-1-1-time{
							display:block;									
							     width:225px;
							        height:16.5px;
							  padding:0;
							margin:0;	
						}
							.idea_own3-others-1-1-time span{
								float:left;									
								     width:;
								        height:16.5px;
									padding:0;
								margin-right:0;
												
								      text-align:left;
								       	line-height:16.5px;
								
								    color:rgba(50,25,0,1);
								font-size:12px;
								
								cursor:default;	
							}
							
                                                                                                                                  	                                                                                                                                                       
	/**************************************************************************
	 *IdeA:own3
	 *
	 *
	 */
	.idea{background-color:;	}