div,form,dl,dt,span,img,input
{margin:0;padding:0;font-family:'Helvetica'}

#AlbumcMbacK{display:none;width:100%;height:100%;background-color:rgb(0,0,0);opacity:0.5;position:fixed;left:0px;top:0px;z-Index:4900000;}

#AlbumcM{display:none;width:100%;height:100%;position:fixed;top:0;left:0;z-index:5000000;}
.AlbumcM{width:425px;height:0;background-color:rgb(255,255,255);position:relative;margin:50px auto;z-index:5;}
/*******************************************************/
	#AlbumcM_top{width:425px;height:40px;background-color:rgb(255,255,255);opacity:1;border-width:0;margin:0;overflow:hidden;}
	
		#AlbumcM_top #AlbumcM_toptitle
		{	
		 width:425px;height:40px;
	                  border-width:0;
		                 border-style:solid;	
		                      border-color:white;
		      background-color:;
		   opacity:;			
		 margin:0 auto;
	
		 overflow:hidden;
		}
			#AlbumcM_top span:nth-child(1)
			{color:rgb(125,255,0);font-size:37px;}
			#AlbumcM_top span:nth-child(2)
			{color:rgb(0,0,0);font-size:37px;}

				#AlbumcM_top #AlbumcM_topmarkdt
				{
				 width:425px;
				       height:40px;					
				 position:absolute;
				               top:0px;
				        left:0px;
				z-index:4999;
				}		
					#AlbumcM_topmarkdt img
					{display:block;
				            	width:30px;
				            	    height:30px;
				                                  background-color:;
				                                  opacity:1; 
				                        margin:5px auto;				
				             cursor:default;
		                                    } 		
		
		#AlbumcM_top #AlbumcM_topclosedt
		{
		 width:425px;
		       height:40px;					
		 	background-color:;
			              opacity:;						
		 position:absolute;
		               top:0px;
		        left:0px;
		z-index:5000;
		}		
			#AlbumcM_topclosedt img
			{display:block;
		            	width:29px;height:29px;
			                  border-width:3px 3px 0 3px;
				                 border-style:solid;	
				                      border-color:rgb(255,125,0);
				      background-color:;
				   opacity:0.75;
				 position:absolute;
				               top:9px;
				        right:12px;
				z-index:5000;				
		             cursor:pointer;
                                    } 
			#AlbumcM_topclosedt img:hover{opacity:1;}
/*******************************************************/
#AlbumcM_content
{
 width:425px;height:;
             border-width:0;
                 border-style:solid;	
                      border-color:white;
      background-color:rgb(255,125,0);	
 margin:0;	
 overflow:hidden;
}
		
	#AlbumcM_content dl dt
	{background-color:;margin:0 auto;}
	#AlbumcM_content dl dt:nth-child(3){margin-top:0;}
		/*NamENamENamENamENamENamENamENamENamENamENamENamENamE*/		
		#AlbumcM_cname span
		{display:block;
		background-color:;
			text-align:center;
			           margin:0 auto;
			      color:rgb(0,0,0);
		            font-size:16px; 
		         font-style:;
		font-weight:500;	
		}			
		#AlbumcM_cname #NamE
		{			
		 display:block;
		     width:240px;height:25px;
			padding:0 5px;
			background-color:rgb(0,0,0);		
			    border-width:0;
			         border-style:solid;
				  border-color:white;
			margin:0 auto;
			text-align:center;
		    color:white;
		font-size:16px; 
		}																																
/*******************************************************/
	#AlbumcM_bom
	{
	 width:425px;height:40px;
	        background-color:rgb(255,255,255);
		      border-width:0;
			   border-style:solid;
		      border-color:white;
		margin:0;	
	}
		#AlbumcM_bom	#SubmiT
		{			
		 display:block;
		     width;height:;
			background-color:black;		
			    border-width:0;
			         border-style:solid;
				  border-color:white;
			      opacity:0.85;
			margin:0 auto;
			text-align:center;
		       color:white;
		  font-size:25px;
		cursor:pointer; 
		}
		#AlbumcM_bom	#SubmiT:hover{opacity:1;}				
/*******************************************************/		
#AlbumcM_tip
{display:none;
       width:250px;
               height:25px;
            background-color:rgb(0,0,0);
               position:absolute;
              top:40px;
            left:87.5px;	
       z-index:5250;
 overflow:hidden;	
}						
	#AlbumcM_tipspan1	
		{display:block;
			text-align:center;
			           margin:0 auto;
			      color:rgb(255,255,255);
		            font-size:16px; 	
		}		
		
		
		
		
		
		
		
		