#MenU_signup{
	width:100%;
	     height:;
	        background-color:rgba(0,0,0,0.5);
	
	position:fixed;
	          top:0;
	                left:0;
	          bottom:0;
	z-index:5000;
}
#MenU_signupcenterback{
	width:100%;
	     height:;
	        background-color:;
	
	position:fixed;
	          top:0;
	                left:0;
	          bottom:0;
	z-index:2499;	
}
	/*conconconconconconconconconconconconconconconconconconconconconconconcon*/	
	#MenU_signupcenter{
		height:100%;
		     width:315px;
		       background-color:rgba(255, 255, 255, 0.25);
		margin:0 auto;
		     position:relative;
	            z-index:2500;
	}
	
	      #SignuP_end{
		width:315px;
		    height:100%;
		       background-color:;
		                border-width:0;
		margin:0 auto;
		     position:relative;
	      	top:62.5px;
			z-index:2500;
	      	overflow:hidden;	
	      }
		#SignuP_endtop{
			width:275px;
			    height:30px;
			background-color:rgba(125,255,0,0.5);
			                border-width:0;
			margin:0 auto;
			     position:relative;
				z-index:2500;
		      	overflow:hidden;

			            				            			            	
			line-height:30px;
				text-align:center;
				
			color:rgba(0, 50, 0 ,1);
		                        font-size:22.5px;
		}	      	
		/*centercentercentercentercentercentercentercentercentercenter*/
		#SignuP_endcenter{
			width:;
			    height:100%;
			margin:0 auto;
			     position:relative;
				z-index:2500;
			overflow:hidden;
		}
			#SignuP_endcentercon{
				     position:relative;
					z-index:2500;
				     overflow:hidden;					
			}
				.signup-endcentercon{
				               width:275px;
					        height:30px;
					            background-color:;
					   border-radius:2px;
					   margin:0 auto;
					   margin-top:25px;
					       position:relative;

					   z-index:2500;

					   overflow:hidden;
			            }
				.signup-endcentercon:nth-child(1){margin-top:12.5px;}			            
					.signup-endcentercon .signup-endcenterconenter{
				                           display:block;
				                                 width:265px;
					                             height:100%;
						         padding:0 5px;
					               background-color:;
						   border-width:0;
					               margin:0 auto;
	
						   line-height:25px;
							text-align:left;
							
						   color:rgba(255,255,255,1);
					                        font-size:16px;
						
						   overflow:hidden;
					}
					.signup-endcentercon:nth-child(2n+1) .signup-endcenterconenter{background-color:rgba(125, 175, 0, 1);}	
					.signup-endcentercon:nth-child(2n) .signup-endcenterconenter{background-color:rgba(125, 195, 0, 1);}	
					/*codecodecodecodecodecodecodecodecodecodecodecodecodecodecodecodecodecodecodecode*/
					#SignuP_endcenterconenter4{
					        position:absolute;
					                   left:0;
						  top:0;
					     z-index:2500;
                                                            }
					#SignuP_endcenterconenter41{
                                                                 display:block;
					         width:125px;
						height:30px;
						 position:absolute;
						             right:0;
						           top:0;
						   z-index:2500;
					             opacity:0.75;
					     cursor:pointer;
			                        }
					#SignuP_endcenterconenter41:hover{opacity:1;}
			                        /*donedonedonedonedonedonedonedonedonedonedonedonedonedonedonedonedonedonedonedone*/
					#SignuP_endcenterconenter5{
					        width:275px;
						height:30px;						
					        padding:0;		
					        background-color:rgba(125, 225, 0, 1);
			                                   opacity:0.75;						
			                                        text-align:center;
						line-height:30px;				
					                   color:rgb(50,25,0);
					           font-size:21px;
					        cursor:pointer;
					}
					#SignuP_endcenterconenter5:hover{color:rgb(255,255,255);opacity:1;}	
	/*conconconconconconconconconconconconconconconconconconconconconconconcon*/		
	
	
	/*tipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstips*/
	#MenU_signuptips{
		height:100%;
		     width:337.5px;
		       background-color:;
		     position:absolute;
		   top:;
		 left:;
	            z-index:2525;
	}
	
	      #SignuP_endtips{
		width:;
		    height:100%;
		       background-color:;
		                border-width:0;
		margin:0 auto;
		     position:relative;
			z-index:2500;
	      	overflow:hidden;	
	      }
	      	
		/*centercentercentercentercentercentercentercentercentercenter*/
		#SignuP_endtipscenter{
			width:;
			    height:100%;
			       background-color:;
			margin:0 auto;
			     position:relative;
				z-index:2500;
			overflow:hidden;
		}
			#SignuP_endtipscentercon{
				     position:relative;
					z-index:2500;
				     overflow:hidden;					
			}
				.signup-endtipscentercon{
				               width:327.5px;
					        height:35px;
					            background-color:;
				               margin:0 auto;
					             margin-top:35px;
					       position:relative;
					             right:2.5px;
					   z-index:2500;
	
					   line-height:25px;
						text-align:center;
						
					   color:rgba(255,255,255,1);
				                           font-size:16px;
					
					   overflow:hidden;
			            }
				.signup-endtipscentercon:nth-child(1){margin-top:42.5px;}
			           		.signup-endtipscentercon span{
				                           display:inline-block;
				                                    width:;
					                           height:;
						         padding:;
					                 background-color:;
					               margin:0 auto;
	
						   line-height:25px;
							text-align:center;
							
						   color:rgba(255,255,255,1);
					                           font-size:16px;
						
						   overflow:hidden;
					}			            					
	/*tipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstipstips*/
					
					
					
					
					
					
					
					
					