
body{	
	background-color:rgba(255,255,255,1);
	overflow:hidden;
}






	/*ToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToP*/
	/*ToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToPToP*/

		/*RighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighT*/
		/*RighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighTRighT*/
		#Right{
			width:325px;
			    height:100%;
			       background-color:rgba(255,255,255,1);
			position:fixed;
			              top:75px;
			         right:0;
			z-index:2551;

			overflow:hidden;
		}
			#AppShow{
	                               width:325px;
	                                      height:500px;
			       background-repeat:no-repeat;
			       	background-position:center center;
			       background-size:contain;
			       margin:0 auto;								
			}
			/*BottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoM*/					
			/*BottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoMBottoM*/

		/*LefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefT*/				
		/*LefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefTLefT*/

	/*CenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteRCenteR*/				