



#LoadiN_tip{
	width:100%;
	     height:;
	        background-color:rgba(0,0,0,0.12);
	
	position:fixed;
	          top:0;
	                left:0;
	          bottom:0;
	z-index:2147483646;
}
#LoadiN_tip1{
	width:250px;
	     height:35px;
	        background-color:;
	
	position:fixed;
	          top:0;
	                left:0;
	          bottom:0;
	z-index:2147483646;
}

	#LoadiN_back{
		width:100%;
		     height:;
		        background-color:;
		
		position:fixed;
		          top:0;
		                left:0;
		          bottom:0;
		z-index:2499;	
	}

	.loadin_tipcon{
		width:250px;
		     height:35px;
		        background-color:;
		margin:0 auto;
		
		         position:relative;
		z-index:2500;
		
		cursor:text;		
	}
		.loadin-con{float:left;margin:0 0 0 5px;}
		.loadin_tipgif{
		         width:35px;
			height:35px;
		        background-color:;
			margin:0;						
		             opacity:1;
                        }
			.loadin_tipgif img{
				display:block;
			         width:100%;
				height:100%;
			        background-color:;
				margin:0 auto;						
	                        }
	           .loadin_tipstr{
		         width:210px;
			height:35px;
		        background-color:;
			margin:0 0 0 5px;						
		             opacity:1;
	           	
           	     	        overflow:hidden;	
                        }
	           		.loadin_tipstr span{
		                           display:inline-block;
		                                    width:;
			                           height:;
				         padding:;
			                 background-color:;
			               margin:0 auto;

				   line-height:35px;
					text-align:left;
					
				   color:rgba(0,0,0,1);
			                           font-size:16px;
				
				   overflow:hidden;
			}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	