@charset'utf-8';
	body,div{margin:0;padding:0;}	
.scroll{width:250px;height:500px;background-color:rgb(0,0,0);overflow:auto;}
		.scroll .con{width:125px;height:125px;background-color:rgb(255,255,255);margin:12.5px auto;}
	            /*1:div嵌套div .scroll div的定义会使scroll失去作用*/	